/*------------------------------------ tabs -------------------------------*/

.tabs {
    position: fixed;
    left: 30px;
    top: 60px;
    bottom: 100px;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.tabs.active {
    color: black;
    display: block;
    font-size: initial;
}

button.active {
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 6px;
    background-color: #0095da;
    outline: none;
}

button.active:hover {
    background-color: #0095da;
}

button{
    color: #0096d9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border:none;
    border-radius: 2px;
}

button:hover{
    background-color: #dddddd;
    border-radius: 6px;
}

/*------------------------------------ grid system -------------------------------*/

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.gridlist {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.gridlist .gridlist__col_md_1 {
  width: 8.333%;
}

.gridlist .gridlist__col_md_2 {
  width: 16.666%;
}

.gridlist .gridlist__col_md_3 {
  width: 25%;
}

.gridlist .gridlist__col_md_4 {
  width: 33.33%;
}

.gridlist .gridlist__col_md_5 {
  width: 41.6666%;
}

.gridlist .gridlist__col_md_6 {
  width: 50%;
}

.gridlist .gridlist__col_md_7 {
  width: 58.333%;
}

.gridlist .gridlist__col_md_8 {
  width: 66.666%;
}

.gridlist .gridlist__col_md_9 {
  width: 75%;
}

.gridlist .gridlist__col_md_10 {
  width: 83.333%;
}

.gridlist .gridlist__col_md_11 {
  width: 91.666%;
}

.gridlist .gridlist__col_md_12 {
  width: 100%;
}

.align__middle {
  align-items: center;
}


/* ------------------------------- modal ------------------------------------- */

.modal {
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

.modal.open {
  display: block;
}

.modal.open .modal__container_section {
  display: block;
  -webkit-animation: fadeInFromNone 1s ease-out;
  -moz-animation: fadeInFromNone 1s ease-out;
  -o-animation: fadeInFromNone 1s ease-out;
  animation: fadeInFromNone 1s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.modal .modal__continer {
  position: relative;
}

.modal__container_section {
  width: 600px;
  background: white;
  position: absolute;
  top: 150px;
  border-radius: 5px;
  left: calc((100% - 500px)/2);
}

.modal__container_section_heading,
.modal__container_section_body {
  padding: 10px;
  border-bottom: 1px solid silver;
}

.modal__container_section_footer {
  padding: 10px;
}

.close__model {
  text-align: right;
  display: block;
  cursor: pointer;
}


/* -------------------- tooltip ---------------------------*/

button.tooltip {
  background: #0095da;
  padding: 10px;
  color: white;
  border: none;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.tooltip .tooltip__text {
  visibility: hidden;
  width: 228px;
  color: #fff;
  text-align: left;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  color: #333333;
  top: 50px;
  right: calc((100% - 228px)/2);
  -webkit-box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.4;
  padding: 8px;
  background-color: white;
  text-align: center;
  word-break: break-word;
  font-weight: normal;
  height: auto;
}

.tooltip .tooltip__text:after {
  content: "";
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  top: -20px;
  left: calc((100% - 20px) / 2);
}

.tooltip.top .tooltip__text {
  top: unset;
  bottom: 50px;
}

.tooltip.left .tooltip__text {
  top: unset;
  bottom: unset;
  left: unset;
  right: 120px;
  transform: translateY(-55%);
  box-sizing: border-box;
}

.tooltip.right .tooltip__text {
  top: unset;
  bottom: unset;
  right: unset;
  left: 120px;
  transform: translateY(-55%);
  box-sizing: border-box;
}

.tooltip.top .tooltip__text:after {
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  bottom: -20px;
  top: unset;
}

.tooltip.left .tooltip__text:after {
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  bottom: calc((100% - 20px)/2);
  top: unset;
  left: unset;
  right: -20px;
}

.tooltip.right .tooltip__text:after {
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  bottom: calc((100% - 20px)/2);
  top: unset;
  left: unset;
  left: -20px;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
}


/* -------------------- input animations --------------------------- */

.group {
  position: relative;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: calc(100% - 15px);
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus~label,
input:valid~label {
  top: -10px;
  font-size: 14px;
  color: #0095da;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #0095da;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@media only screen and (max-width: 500px) {
  .gridlist .gridlist__col_md_1,
  .gridlist .gridlist__col_md_2,
  .gridlist .gridlist__col_md_3,
  .gridlist .gridlist__col_md_4,
  .gridlist .gridlist__col_md_5,
  .gridlist .gridlist__col_md_6,
  .gridlist .gridlist__col_md_7,
  .gridlist .gridlist__col_md_8,
  .gridlist .gridlist__col_md_9,
  .gridlist .gridlist__col_md_10,
  .gridlist .gridlist__col_md_11,
  .gridlist .gridlist__col_md_12 {
    width: 100%;
  }
}

